<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
        <%=website.title%>
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <!-- Apple touch icon -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.2/css/boxicons.min.css"
        integrity="sha512-AGmpdsTqvAh2GvTWzVhhJ9VqQb1eAXwOM7uiWtv0DzcnGaGWy98K51z2cK5OG3gp4NB1HbMaD7p0MeO9kE7E3w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <!-- Template Main CSS File -->
    <style>
        body {
            font-family: "Open Sans", sans-serif;
            color: #272829;
        }
        a {
            color: #0563bb;
            text-decoration: none;
        }
        a:hover {
            color: #067ded;
            text-decoration: none;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif;
        }
        /*--------------------------------------------------------------
    # Back to top button
    --------------------------------------------------------------*/
        .back-to-top {
            position: fixed;
            visibility: hidden;
            opacity: 0;
            right: 15px;
            bottom: 15px;
            z-index: 996;
            background: #0563bb;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            transition: all 0.4s;
        }
        .back-to-top i {
            font-size: 28px;
            color: #fff;
            line-height: 0;
        }
        .back-to-top:hover {
            background: #0678e3;
            color: #fff;
        }
        .back-to-top.active {
            visibility: visible;
            opacity: 1;
        }
        /*--------------------------------------------------------------
    # Preloader
    --------------------------------------------------------------*/
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            overflow: hidden;
            background: #fff;
        }
        #preloader:before {
            content: "";
            position: fixed;
            top: calc(50% - 30px);
            left: calc(50% - 30px);
            border: 6px solid #0563bb;
            border-top-color: #fff;
            border-bottom-color: #fff;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            -webkit-animation: animate-preloader 1s linear infinite;
            animation: animate-preloader 1s linear infinite;
        }
        @-webkit-keyframes animate-preloader {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes animate-preloader {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        /*--------------------------------------------------------------
    # Disable aos animation delay on mobile devices
    --------------------------------------------------------------*/
        @media screen and (max-width: 768px) {
            [data-aos-delay] {
                transition-delay: 0 !important;
            }
        }
        /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
        #header {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 9997;
            transition: all 0.5s;
            padding: 15px;
            overflow-y: auto;
        }
        @media (max-width: 992px) {
            #header {
                width: 300px;
                background: #fff;
                border-right: 1px solid #e6e9ec;
                left: -300px;
            }
        }
        @media (min-width: 992px) {
            #main {
                margin-left: 100px;
            }
        }
        /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
        /**
    * Desktop Navigation 
    */
        .nav-menu {
            padding: 0;
            display: block;
        }
        .nav-menu * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .nav-menu>ul>li {
            position: relative;
            white-space: nowrap;
        }
        .nav-menu a,
        .nav-menu a:focus {
            display: flex;
            align-items: center;
            color: #45505b;
            padding: 10px 18px;
            margin-bottom: 8px;
            transition: 0.3s;
            font-size: 15px;
            border-radius: 50px;
            background: #f2f3f5;
            height: 56px;
            width: 100%;
            overflow: hidden;
            transition: 0.3s;
        }
        .nav-menu a i,
        .nav-menu a:focus i {
            font-size: 20px;
        }
        .nav-menu a span,
        .nav-menu a:focus span {
            padding: 0 5px 0 7px;
            color: #45505b;
        }
        @media (min-width: 992px) {
            .nav-menu a,
            .nav-menu a:focus {
                width: 56px;
            }
            .nav-menu a span,
            .nav-menu a:focus span {
                display: none;
                color: #fff;
            }
        }
        .nav-menu a:hover,
        .nav-menu .active,
        .nav-menu .active:focus,
        .nav-menu li:hover>a {
            color: #fff;
            background: #0563bb;
        }
        .nav-menu a:hover span,
        .nav-menu .active span,
        .nav-menu .active:focus span,
        .nav-menu li:hover>a span {
            color: #fff;
        }
        .nav-menu a:hover,
        .nav-menu li:hover>a {
            width: 100%;
            color: #fff;
        }
        .nav-menu a:hover span,
        .nav-menu li:hover>a span {
            display: block;
        }
        /**
    * Mobile Navigation 
    */
        .mobile-nav-toggle {
            position: fixed;
            right: 10px;
            top: 10px;
            z-index: 9998;
            border: 0;
            background: none;
            font-size: 28px;
            transition: all 0.4s;
            outline: none !important;
            line-height: 0;
            cursor: pointer;
            border-radius: 50px;
            padding: 5px;
        }
        .mobile-nav-toggle i {
            color: #45505b;
        }
        .mobile-nav-active {
            overflow: hidden;
        }
        .mobile-nav-active #header {
            left: 0;
        }
        .mobile-nav-active .mobile-nav-toggle {
            color: #fff;
            background-color: #0563bb;
        }
        /*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
        #hero {
            width: 100%;
            height: 100vh;
            background: url(<%=website.heroBG%>) top right no-repeat;
            background-size: cover;
            position: relative;
        }
        @media (min-width: 992px) {
            #hero {
                padding-left: 160px;
            }
        }
        #hero:before {
            content: "";
            background: rgba(255, 255, 255, 0.8);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
        #hero h1 {
            margin: 0;
            font-size: 64px;
            font-weight: 700;
            line-height: 56px;
            color: #45505b;
        }
        #hero p {
            color: #45505b;
            margin: 15px 0 0 0;
            font-size: 26px;
            font-family: "Poppins", sans-serif;
        }
        #hero p span {
            color: #0563bb;
            letter-spacing: 1px;
        }
        #hero .social-links {
            margin-top: 30px;
        }
        #hero .social-links a {
            font-size: 24px;
            display: inline-block;
            color: #45505b;
            line-height: 1;
            margin-right: 20px;
            transition: 0.3s;
        }
        #hero .social-links a:hover {
            color: #0563bb;
        }
        @media (max-width: 992px) {
            #hero {
                text-align: center;
            }
            #hero h1 {
                font-size: 32px;
                line-height: 36px;
            }
            #hero p {
                margin-top: 10px;
                font-size: 20px;
                line-height: 24px;
            }
        }
        /*--------------------------------------------------------------
    # Sections General
    --------------------------------------------------------------*/
        section {
            padding: 60px 0;
            overflow: hidden;
        }
        .section-title {
            text-align: center;
            padding-bottom: 30px;
        }
        .section-title h2 {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            color: #45505b;
        }
        .section-title h2::before {
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: #ddd;
            bottom: 1px;
            left: calc(50% - 60px);
        }
        .section-title h2::after {
            content: "";
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: #0563bb;
            bottom: 0;
            left: calc(50% - 20px);
        }
        .section-title p {
            margin-bottom: 0;
        }
        /*--------------------------------------------------------------
    # About
    --------------------------------------------------------------*/
        .about .content h3 {
            font-weight: 700;
            font-size: 26px;
            color: #728394;
        }
        .about .content ul {
            list-style: none;
            padding: 0;
        }
        .about .content ul li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .about .content ul strong {
            margin-right: 10px;
        }
        .about .content ul i {
            font-size: 16px;
            margin-right: 5px;
            color: #0563bb;
            line-height: 0;
        }
        .about .content p:last-child {
            margin-bottom: 0;
        }
        /*--------------------------------------------------------------
    # Facts
    --------------------------------------------------------------*/
        .facts .count-box {
            padding: 30px 30px 25px 30px;
            margin-top: 30px;
            width: 100%;
            position: relative;
            text-align: center;
            background: #fff;
        }
        .facts .count-box i {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
            background: #0563bb;
            color: #fff;
            border-radius: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
        }
        .facts .count-box span {
            font-size: 36px;
            display: block;
            font-weight: 600;
            color: #011426;
        }
        .facts .count-box p {
            padding: 0;
            margin: 0;
            font-family: "Raleway", sans-serif;
            font-size: 14px;
        }
        /*--------------------------------------------------------------
    # Akills
    --------------------------------------------------------------*/
        .skills .progress {
            height: 60px;
            display: block;
            background: none;
            border-radius: 0;
        }
        .skills .progress .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            color: #45505b;
        }
        .skills .progress .skill .val {
            float: right;
            font-style: normal;
        }
        .skills .progress-bar-wrap {
            background: #f2f3f5;
        }
        .skills .progress-bar {
            width: 1px;
            height: 10px;
            transition: 0.9s;
            background-color: #0563bb;
        }
        /*--------------------------------------------------------------
    # Resume
    --------------------------------------------------------------*/
        .resume .resume-title {
            font-size: 26px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #45505b;
        }
        .resume .resume-item {
            padding: 0 0 20px 20px;
            margin-top: -2px;
            border-left: 2px solid #0563bb;
            position: relative;
        }
        .resume .resume-item h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #0563bb;
            margin-bottom: 10px;
        }
        .resume .resume-item h5 {
            font-size: 16px;
            background: #f7f8f9;
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .resume .resume-item ul {
            padding-left: 20px;
        }
        .resume .resume-item ul li {
            padding-bottom: 10px;
        }
        .resume .resume-item:last-child {
            padding-bottom: 0;
        }
        .resume .resume-item::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: #fff;
            border: 2px solid #0563bb;
        }
        /*--------------------------------------------------------------
    # Portfolio
    --------------------------------------------------------------*/
        .portfolio .portfolio-item {
            margin-bottom: 30px;
        }
        .portfolio #portfolio-flters {
            padding: 0;
            margin: 0 auto 25px auto;
            list-style: none;
            text-align: center;
            background: #fff;
            border-radius: 50px;
            padding: 2px 15px;
        }
        .portfolio #portfolio-flters li {
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: #272829;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }
        .portfolio #portfolio-flters li:hover,
        .portfolio #portfolio-flters li.filter-active {
            color: #0563bb;
        }
        .portfolio #portfolio-flters li:last-child {
            margin-right: 0;
        }
        .portfolio .portfolio-wrap {
            transition: 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            background: rgba(69, 80, 91, 0.8);
        }
        .portfolio .portfolio-wrap::before {
            content: "";
            background: rgba(255, 255, 255, 0.7);
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;
            transition: all ease-in-out 0.3s;
            z-index: 2;
            opacity: 0;
        }
        .portfolio .portfolio-wrap .portfolio-info {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            z-index: 3;
            transition: all ease-in-out 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .portfolio .portfolio-wrap .portfolio-info::before {
            display: block;
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
            top: 35px;
            left: 35px;
            border-top: 3px solid #d7dce1;
            border-left: 3px solid #d7dce1;
            transition: all 0.5s ease 0s;
            z-index: 9994;
        }
        .portfolio .portfolio-wrap .portfolio-info::after {
            display: block;
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
            bottom: 35px;
            right: 35px;
            border-bottom: 3px solid #d7dce1;
            border-right: 3px solid #d7dce1;
            transition: all 0.5s ease 0s;
            z-index: 9994;
        }
        .portfolio .portfolio-wrap .portfolio-info h4 {
            font-size: 20px;
            color: #45505b;
            font-weight: 600;
        }
        .portfolio .portfolio-wrap .portfolio-info p {
            color: #45505b;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }
        .portfolio .portfolio-wrap .portfolio-links {
            text-align: center;
            z-index: 4;
        }
        .portfolio .portfolio-wrap .portfolio-links a {
            color: #45505b;
            margin: 0 2px;
            font-size: 28px;
            display: inline-block;
            transition: 0.3s;
        }
        .portfolio .portfolio-wrap .portfolio-links a:hover {
            color: #148af9;
        }
        .portfolio .portfolio-wrap:hover::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }
        .portfolio .portfolio-wrap:hover .portfolio-info {
            opacity: 1;
        }
        .portfolio .portfolio-wrap:hover .portfolio-info::before {
            top: 15px;
            left: 15px;
        }
        .portfolio .portfolio-wrap:hover .portfolio-info::after {
            bottom: 15px;
            right: 15px;
        }
        /*--------------------------------------------------------------
    # Portfolio Details
    --------------------------------------------------------------*/
        .portfolio-details {
            padding-top: 40px;
        }
        .portfolio-details .portfolio-details-slider img {
            width: 100%;
        }
        .portfolio-details .portfolio-details-slider .swiper-pagination {
            margin-top: 20px;
            position: relative;
        }
        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #0563bb;
        }
        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #0563bb;
        }
        .portfolio-details .portfolio-info {
            padding: 30px;
            box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
        }
        .portfolio-details .portfolio-info h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
        .portfolio-details .portfolio-info ul {
            list-style: none;
            padding: 0;
            font-size: 15px;
        }
        .portfolio-details .portfolio-info ul li+li {
            margin-top: 10px;
        }
        .portfolio-details .portfolio-description {
            padding-top: 30px;
        }
        .portfolio-details .portfolio-description h2 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .portfolio-details .portfolio-description p {
            padding: 0;
        }
        /*--------------------------------------------------------------
    # Services
    --------------------------------------------------------------*/
        .services .icon-box {
            text-align: center;
            padding: 70px 20px 80px 20px;
            transition: all ease-in-out 0.3s;
            background: #fff;
            box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
        }
        .services .icon-box .icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: ease-in-out 0.3s;
            position: relative;
        }
        .services .icon-box .icon i {
            font-size: 36px;
            transition: 0.5s;
            position: relative;
        }
        .services .icon-box .icon svg {
            position: absolute;
            top: 0;
            left: 0;
        }
        .services .icon-box .icon svg path {
            transition: 0.5s;
            fill: #f5f5f5;
        }
        .services .icon-box h4 {
            font-weight: 600;
            margin: 10px 0 15px 0;
            font-size: 22px;
        }
        .services .icon-box h4 a {
            color: #45505b;
            transition: ease-in-out 0.3s;
        }
        .services .icon-box p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }
        .services .icon-box:hover {
            border-color: #fff;
            box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
        }
        .services .iconbox-blue i {
            color: #47aeff;
        }
        .services .iconbox-blue:hover .icon i {
            color: #fff;
        }
        .services .iconbox-blue:hover .icon path {
            fill: #47aeff;
        }
        .services .iconbox-orange i {
            color: #ffa76e;
        }
        .services .iconbox-orange:hover .icon i {
            color: #fff;
        }
        .services .iconbox-orange:hover .icon path {
            fill: #ffa76e;
        }
        .services .iconbox-pink i {
            color: #e80368;
        }
        .services .iconbox-pink:hover .icon i {
            color: #fff;
        }
        .services .iconbox-pink:hover .icon path {
            fill: #e80368;
        }
        .services .iconbox-yellow i {
            color: #ffbb2c;
        }
        .services .iconbox-yellow:hover .icon i {
            color: #fff;
        }
        .services .iconbox-yellow:hover .icon path {
            fill: #ffbb2c;
        }
        .services .iconbox-red i {
            color: #ff5828;
        }
        .services .iconbox-red:hover .icon i {
            color: #fff;
        }
        .services .iconbox-red:hover .icon path {
            fill: #ff5828;
        }
        .services .iconbox-teal i {
            color: #11dbcf;
        }
        .services .iconbox-teal:hover .icon i {
            color: #fff;
        }
        .services .iconbox-teal:hover .icon path {
            fill: #11dbcf;
        }
        /*--------------------------------------------------------------
    # Testimonials
    --------------------------------------------------------------*/
        .testimonials .section-header {
            margin-bottom: 40px;
        }
        .testimonials .testimonials-carousel,
        .testimonials .testimonials-slider {
            overflow: hidden;
        }
        .testimonials .testimonial-item {
            text-align: center;
        }
        .testimonials .testimonial-item .testimonial-img {
            width: 120px;
            border-radius: 50%;
            border: 4px solid #fff;
            margin: 0 auto;
        }
        .testimonials .testimonial-item h3 {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #111;
        }
        .testimonials .testimonial-item h4 {
            font-size: 14px;
            color: #999;
            margin: 0 0 15px 0;
        }
        .testimonials .testimonial-item .quote-icon-left,
        .testimonials .testimonial-item .quote-icon-right {
            color: #90c8fc;
            font-size: 26px;
        }
        .testimonials .testimonial-item .quote-icon-left {
            display: inline-block;
            left: -5px;
            position: relative;
        }
        .testimonials .testimonial-item .quote-icon-right {
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }
        .testimonials .testimonial-item p {
            font-style: italic;
            margin: 0 auto 15px auto;
        }
        .testimonials .swiper-pagination {
            margin-top: 20px;
            position: relative;
        }
        .testimonials .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #0563bb;
        }
        .testimonials .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #0563bb;
        }
        @media (min-width: 992px) {
            .testimonials .testimonial-item p {
                width: 80%;
            }
        }
        /*--------------------------------------------------------------
    # Contact
    --------------------------------------------------------------*/
        .contact .info {
            width: 100%;
            background: #fff;
        }
        .contact .info i {
            font-size: 20px;
            color: #0563bb;
            float: left;
            width: 44px;
            height: 44px;
            background: #eef7ff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
        }
        .contact .info h4 {
            padding: 0 0 0 60px;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #45505b;
        }
        .contact .info p {
            padding: 0 0 0 60px;
            margin-bottom: 0;
            font-size: 14px;
            color: #728394;
        }
        .contact .info .email,
        .contact .info .phone {
            margin-top: 40px;
        }
        .contact .info .email:hover i,
        .contact .info .address:hover i,
        .contact .info .phone:hover i {
            background: #0563bb;
            color: #fff;
        }
        .contact .php-email-form {
            width: 100%;
            background: #fff;
        }
        .contact .php-email-form .form-group {
            padding-bottom: 8px;
        }
        .contact .php-email-form .error-message {
            display: none;
            color: #fff;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;
        }
        .contact .php-email-form .error-message br+br {
            margin-top: 25px;
        }
        .contact .php-email-form .sent-message {
            display: none;
            color: #fff;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }
        .contact .php-email-form .loading {
            display: none;
            background: #fff;
            text-align: center;
            padding: 15px;
        }
        .contact .php-email-form .loading:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #18d26e;
            border-top-color: #eee;
            -webkit-animation: animate-loading 1s linear infinite;
            animation: animate-loading 1s linear infinite;
        }
        .contact .php-email-form input,
        .contact .php-email-form textarea {
            border-radius: 4px;
            box-shadow: none;
            font-size: 14px;
        }
        .contact .php-email-form input {
            height: 44px;
        }
        .contact .php-email-form textarea {
            padding: 10px 12px;
        }
        .contact .php-email-form button[type=submit] {
            background: #0563bb;
            border: 0;
            padding: 10px 35px;
            color: #fff;
            transition: 0.4s;
            border-radius: 50px;
        }
        .contact .php-email-form button[type=submit]:hover {
            background: #0678e3;
        }
        @-webkit-keyframes animate-loading {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes animate-loading {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
        #footer {
            background: #f7f8f9;
            color: #45505b;
            font-size: 14px;
            text-align: center;
            padding: 30px 0;
        }
        #footer h3 {
            font-size: 36px;
            font-weight: 700;
            position: relative;
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0 0 15px 0;
        }
        #footer p {
            font-size: 15;
            font-style: italic;
            padding: 0;
            margin: 0 0 40px 0;
        }
        #footer .social-links {
            margin: 0 0 40px 0;
        }
        #footer .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #0563bb;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }
        #footer .social-links a:hover {
            background: #0678e3;
            color: #fff;
            text-decoration: none;
        }
        #footer .copyright {
            margin: 0 0 5px 0;
        }
        #footer .credits {
            font-size: 13px;
        }
    </style>
</head>
<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Portfolio</span></a>
                </li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </header><!-- End Header -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>
                <%= name %>
            </h1>
            <p>I'm <span class="typed" data-typed-items=<%=tagline.join()%></span></p>
            <div class="social-links">
                <a href=<%=socials.twitter%> class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href=<%=socials.facebook%> class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href=<%=socials.instagram%> class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href=<%=socials.linkedin%> class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href=<%=socials.github%> class="github"><i class="bx bxl-github"></i></a>
            </div>
        </div>
    </section>
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>About</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src=<%=about.image%> class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>
                            <%=about.heading%>
                        </h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>
                                            <%=about.dateOfBirth%>
                                        </span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>
                                            <%=about.phone%>
                                        </span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>
                                            <%=about.city%>
                                        </span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>
                                            <%=about.age%>
                                        </span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong><span>
                                            <%=about.email%>
                                        </span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            <%=about.summary%>
                        </p>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
                <div class="row skills-content">
                    <% skills.forEach((skill)=>{ %>
                        <div class="col-lg-6">
                            <div class="progress">
                                <span class="skill">
                                    <%=skill.skill%> <i class="val">
                                            <%=skill.value%>%
                                        </i>
                                </span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow=<%=skill.value%>
                                        aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </section>
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <!--start of column one-->
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>
                                <%=name%>
                            </h4>
                            <p>
                                <em>
                                    <%=resume.summary%>
                                </em>
                            </p>
                            <ul>
                                <li>
                                    <%=about.city%>
                                </li>
                                <li>
                                    <%=about.phone%>
                                </li>
                                <li>
                                    <%=about.email%>
                                </li>
                            </ul>
                        </div>
                        <!--Education-->
                        <h3 class="resume-title">Education</h3>
                        <%resume.education.map((edu)=>{%>
                            <div class="resume-item">
                                <h4>
                                    <%=edu.title%>
                                </h4>
                                <h5>
                                    <%=edu.period%>
                                </h5>
                                <p><em>
                                        <%=edu.institution%>
                                    </em></p>
                            </div>
                            <%})%>
                                <!--Awards-->
                                <h3 class="resume-title">Awards & Certification</h3>
                                <% resume.awards.map((award)=>{ %>
                                    <div class="resume-item">
                                        <h4>
                                            <%=award.title%>
                                        </h4>
                                        <h5>
                                            <%=award.issuer%>, <%=award.period%>
                                        </h5>
                                        <p>
                                            <%award.description%>
                                        </p>
                                    </div>
                                    <%})%>
                                        <!--Publications-->
                                        <h3 class="resume-title">Publications</h3>
                                        <% resume.publications.map((publication)=>{ %>
                                            <div class="resume-item">
                                                <h4>
                                                    <%=publication.title%>
                                                </h4>
                                                <h5>
                                                    <%=publication.period%>
                                                </h5>
                                                <p><em>
                                                        <%=publication.gist%>
                                                    </em></p>
                                            </div>
                                            <%})%>
                    </div>
                    <!--End of column one-->
                    <!--Start of column two-->
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <!--Experience-->
                        <h3 class="resume-title">Professional Experience</h3>
                        <% resume.experience.map((exp)=>{ %>
                            <div class="resume-item">
                                <h4>
                                    <%=exp.title%>
                                </h4>
                                <h5>
                                    <%=exp.period%>
                                </h5>
                                <p><em>
                                        <%=exp.company%>
                                    </em></p>
                                <ul>
                                    <%exp.description.map((des)=>{%><li>
                                            <%=des%>
                                        </li>
                                        <%})%>
                                </ul>
                            </div>
                            <%})%>
                                <!--POR-->
                                <h3 class="resume-title">Position of Responsibility</h3>
                                <% resume.por.map((por)=>{ %>
                                    <div class="resume-item">
                                        <h4>
                                            <%=por.title%>
                                        </h4>
                                        <h5>
                                            <%=por.period%>
                                        </h5>
                                        <p><em>
                                                <%=por.organisation%>
                                            </em></p>
                                        <ul>
                                            <%por.description.map((des)=>{%><li>
                                                    <%=des%>
                                                </li>
                                                <%})%>
                                        </ul>
                                    </div>
                                    <%})%>
                                        <!--Cocurriculars-->
                                        <h3 class="resume-title">Co Curriculars</h3>
                                        <% resume.cocurricular.map((cocurricular)=>{ %>
                                            <div class="resume-item">
                                                <h4>
                                                    <%=cocurricular.title%>
                                                </h4>
                                                <h5>
                                                    <%=cocurricular.description%>
                                                </h5>
                                            </div>
                                            <%})%>
                    </div>
                    <!--End of column two-->
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <section id="portfolio" class="portfolio section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <% const types=new Set(projects.map((p)=>p.type)) %>
                        <div class="row" data-aos="fade-up">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul id="portfolio-flters">
                                    <li data-filter="*" class="filter-active">All</li>
                                    <% types.forEach((type)=>{%>
                                        <li data-filter=".filter-<%=type%>">
                                            <%=type%>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                            <% projects.forEach(project=>{ %>
                                <div class="col-lg-4 col-md-6 portfolio-item filter-<%=project.type%>">
                                    <div class="portfolio-wrap">
                                        <img src=<%=project.imageUrl%> class="img-fluid" alt="">
                                        <div class="portfolio-info">
                                            <h4>
                                                <%=project.title%>
                                            </h4>
                                            <p>
                                                <%=project.description%>
                                            </p>
                                            <div class="portfolio-links">
                                                <a href=<%=project.imageUrl%> data-gallery="portfolioGallery"
                                                    class="portfolio-lightbox" title='<%=project.title%>'><i
                                                            class="bx bx-plus"></i></a>
                                                <a href=<%=project.link%> <i class="bx bx-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>
                                    <%=about.city%>
                                </p>
                            </div>
                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>
                                    <%=about.email%>
                                </p>
                            </div>
                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>
                                    <%=about.phone%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-5 mt-lg-0">
                        <form action="https://portfolioshop-micros.azurewebsites.net/api/mailService" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                        required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                        required>
                                </div>
                                <input type="hidden" name="user" id="user" value="<%=about.email%>"
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                    required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit" >Send Message</button></div>
                        </form>        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <h3>
                <%=name%>
            </h3>
            <p>
                <%=about.summary%>
            </p>
            <div class="social-links">
                <a href=<%=socials.twitter%> class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href=<%=socials.facebook%> class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href=<%=socials.instagram%> class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href=<%=socials.linkedin%> class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href=<%=socials.github%> class="github"><i class="bx bxl-github"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Portfolioshop</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js"
        integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.7/swiper-bundle.min.js"
        integrity="sha512-WlN87oHzYKO5YOmINf1+pSkbt4gm+lOro4fiSTCjII4ykJe/ycHKIaa9b2l9OMkbqEA4NxwTXAGFjSXgqEh19w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script>
        (function () {
            "use strict";
            /**
             * Easy selector helper function
             */
            const select = (el, all = false) => {
                el = el.trim()
                if (all) {
                    return [...document.querySelectorAll(el)]
                } else {
                    return document.querySelector(el)
                }
            }
            /**
             * Easy event listener function
             */
            const on = (type, el, listener, all = false) => {
                let selectEl = select(el, all)
                if (selectEl) {
                    if (all) {
                        selectEl.forEach(e => e.addEventListener(type, listener))
                    } else {
                        selectEl.addEventListener(type, listener)
                    }
                }
            }
            /**
             * Easy on scroll event listener 
             */
            const onscroll = (el, listener) => {
                el.addEventListener('scroll', listener)
            }
            /**
             * Navbar links active state on scroll
             */
            let navbarlinks = select('#navbar .scrollto', true)
            const navbarlinksActive = () => {
                let position = window.scrollY + 200
                navbarlinks.forEach(navbarlink => {
                    if (!navbarlink.hash) return
                    let section = select(navbarlink.hash)
                    if (!section) return
                    if (position >= section.offsetTop && position <= (section.offsetTop + section.offsetHeight)) {
                        navbarlink.classList.add('active')
                    } else {
                        navbarlink.classList.remove('active')
                    }
                })
            }
            window.addEventListener('load', navbarlinksActive)
            onscroll(document, navbarlinksActive)
            /**
             * Scrolls to an element with header offset
             */
            const scrollto = (el) => {
                let elementPos = select(el).offsetTop
                window.scrollTo({
                    top: elementPos,
                    behavior: 'smooth'
                })
            }
            /**
             * Back to top button
             */
            let backtotop = select('.back-to-top')
            if (backtotop) {
                const toggleBacktotop = () => {
                    if (window.scrollY > 100) {
                        backtotop.classList.add('active')
                    } else {
                        backtotop.classList.remove('active')
                    }
                }
                window.addEventListener('load', toggleBacktotop)
                onscroll(document, toggleBacktotop)
            }
            /**
             * Mobile nav toggle
             */
            on('click', '.mobile-nav-toggle', function (e) {
                select('body').classList.toggle('mobile-nav-active')
                this.classList.toggle('bi-list')
                this.classList.toggle('bi-x')
            })
            /**
             * Scrool with ofset on links with a class name .scrollto
             */
            on('click', '.scrollto', function (e) {
                if (select(this.hash)) {
                    e.preventDefault()
                    let body = select('body')
                    if (body.classList.contains('mobile-nav-active')) {
                        body.classList.remove('mobile-nav-active')
                        let navbarToggle = select('.mobile-nav-toggle')
                        navbarToggle.classList.toggle('bi-list')
                        navbarToggle.classList.toggle('bi-x')
                    }
                    scrollto(this.hash)
                }
            }, true)
            /**
             * Scroll with ofset on page load with hash links in the url
             */
            window.addEventListener('load', () => {
                if (window.location.hash) {
                    if (select(window.location.hash)) {
                        scrollto(window.location.hash)
                    }
                }
            });
            /**
             * Preloader
             */
            let preloader = select('#preloader');
            if (preloader) {
                window.addEventListener('load', () => {
                    preloader.remove()
                });
            }
            /**
             * Hero type effect
             */
            const typed = select('.typed')
            if (typed) {
                let typed_strings = typed.getAttribute('data-typed-items')
                typed_strings = typed_strings.split(',')
                new Typed('.typed', {
                    strings: typed_strings,
                    loop: true,
                    typeSpeed: 100,
                    backSpeed: 50,
                    backDelay: 2000
                });
            }
            /**
             * Skills animation
             */
            let skilsContent = select('.skills-content');
            if (skilsContent) {
                new Waypoint({
                    element: skilsContent,
                    offset: '80%',
                    handler: function (direction) {
                        let progress = select('.progress .progress-bar', true);
                        progress.forEach((el) => {
                            el.style.width = el.getAttribute('aria-valuenow') + '%'
                        });
                    }
                })
            }
            /**
             * Porfolio isotope and filter
             */
            window.addEventListener('load', () => {
                let portfolioContainer = select('.portfolio-container');
                if (portfolioContainer) {
                    let portfolioIsotope = new Isotope(portfolioContainer, {
                        itemSelector: '.portfolio-item'
                    });
                    let portfolioFilters = select('#portfolio-flters li', true);
                    on('click', '#portfolio-flters li', function (e) {
                        e.preventDefault();
                        portfolioFilters.forEach(function (el) {
                            el.classList.remove('filter-active');
                        });
                        this.classList.add('filter-active');
                        portfolioIsotope.arrange({
                            filter: this.getAttribute('data-filter')
                        });
                        portfolioIsotope.on('arrangeComplete', function () {
                            AOS.refresh()
                        });
                    }, true);
                }
            });
            /**
             * Initiate portfolio lightbox 
             */
            const portfolioLightbox = GLightbox({
                selector: '.portfolio-lightbox'
            });
            /**
             * Initiate portfolio details lightbox 
             */
            const portfolioDetailsLightbox = GLightbox({
                selector: '.portfolio-details-lightbox',
                width: '90%',
                height: '90vh'
            });
            /**
             * Portfolio details slider
             */
            new Swiper('.portfolio-details-slider', {
                speed: 400,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false
                },
                pagination: {
                    el: '.swiper-pagination',
                    type: 'bullets',
                    clickable: true
                }
            });
            /**
             * Animation on scroll
             */
            window.addEventListener('load', () => {
                AOS.init({
                    duration: 1000,
                    easing: 'ease-in-out',
                    once: true,
                    mirror: false
                })
                scrollto('#hero')
            });
        })()
    </script>
</body>
</html>